*{

box-sizing:border-box;

}



body{

font-family:Arial;

margin:0;

background:#f8fafc;

}



header{

background:#1e293b;

color:white;

padding:20px;

display:flex;

justify-content:space-between;

}



nav a{

color:white;

margin:10px;

text-decoration:none;

}



main{

padding:30px;

}



.products{


display:grid;


grid-template-columns:1fr;


gap:20px;


}



.card{


background:white;


padding:20px;


border-radius:10px;


box-shadow:0 5px 15px #ddd;


}



.card img{


width:100%;


max-width:200px;


}



button{


background:#2563eb;


color:white;


border:none;


padding:10px;


cursor:pointer;


}




@media(min-width:768px){


.products{


grid-template-columns:repeat(3,1fr);


}


}